.section-heading{
  margin-top: -50px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
  font-family: var(--playfair-display);
  color: var(--secondary-color);
}

.section-subheading{
  margin-top: 60px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
}


.container1 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 50px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.slider{
  padding: 30px;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 20px;
}

.container1 p {
  width: 900px;
  margin-top: -40px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
}
.slider img {

  width: 120px;
  height: 120px;
}

.servicesbtn {

  margin-top: 30px;
}

.slider-headline {
  font-size: 16px;
  font-weight: 600;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
}

.slider-par{
  padding: 10px;
  width: 300px;
  font-size: 12px;
  font-weight: 400;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
}